body{
    background: #eee;
    position: relative;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: crimson;
  outline: 1px solid slategrey;
}
.section_spacing{
    padding-top: 30px;
}
.section_height{
    height: 650px;
}
.section_height_webinar{
    height: 900px;
}
.section_height_about{
    height: 700px;
}
.section_height_timeline{
    height: 900px;
}
#timer{
  padding-right: 100px;
}
#countdown {
  color: #eee;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
}

#countdown span {
  display: block;
  font-size: 4.5rem;
}
.fa-bookmark{
    color: crimson;
}
.fa-code{
    color: crimson;
}
.fa-user{
    color: crimson;
}
.fa-university{
    color: crimson;
}
.fa-globe{
    color: crimson;
}
#nav-image{
    width: 5%;
    z-index: 100;
}
#banner_span_text{
    color: crimson;
}
.banner_title{
    color: #eee;
    font-size: 80px;
    font-weight: 600;
    margin-top: 150px;
}
.banner_subtitle{
    color: #eee;
    font-size: 40px;
    font-weight: 300;
}
.heading{
    padding-left: 40px;
    font-size: 36px;
    font-weight: 700;
}
.heading_white{
    color: #eee;
    padding-left: 40px;
    font-size: 36px;
    font-weight: 700;
}
/*
#about_image{
    margin-top: 20px;
    width: 120%;
    border: 5px solid Gray;
    
}
*/
#about_content{
    font-size: 18px;
    margin-top: 50px;
    font-family: 'Fira Code', monospace;
}
.parallax{
    background-image: url("https://images.unsplash.com/photo-1517433456452-f9633a875f6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
}
.fa-cogs{
    color: crimson;
}
#testimonial_content{
    font-family: 'Fira Code', monospace;
    color: #eee;
    font-size: 15px;
}
#glimpses_image{
    margin-top: 10px;
    width: 100%;
    border: 5px solid Gray;
}
/* Webinar Button */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #000;
    background: #000;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 3;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 50%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 45%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 7px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 3;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
	color: #fff !important;
	background-color: transparent;
	text-shadow: nthree;
    border: 2px solid crimson;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: crimson;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
/* END */
.telegram_widget{
    overflow: hidden;
}